In [ ]:
import numpy as np
import pandas as pd

In [ ]:
df = pd.read_csv (r'/content/drive/MyDrive/BankChurners.csv')

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
df

       CLIENTNUM  ... Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_2
0      768805383  ...                                           0.999910
1      818770008  ...                                           0.999940
2      713982108  ...                                           0.999980
3      769911858  ...                                           0.999870
4      709106358  ...                                           0.999980
...          ...  ...                                                ...
10122  772366833  ...                                           0.999810
10123  710638233  ...                                           0.004729
10124  716506083  ...                                           0.002118
10125  717406983  ...                                           0.003294
10126  714337233  ...                                           0.003377

[10127 rows x 23 columns]

In [ ]:
df1 = df.drop(['CLIENTNUM'], axis=1)

In [ ]:
for i in range(len(df1['Total_Amt_Chng_Q4_Q1'])):
  if df1 ['Total_Amt_Chng_Q4_Q1'] [i] > 1.3 or df1 ['Total_Amt_Chng_Q4_Q1']  [i] < 0.28:
    df1 = df1.drop(i)

In [ ]:
df1 = df1.reset_index()

In [ ]:
for i in range(len(df1['Total_Ct_Chng_Q4_Q1'])):
  if df1 ['Total_Ct_Chng_Q4_Q1'] [i] > 1.2 or df1 ['Total_Ct_Chng_Q4_Q1']  [i] < 0.22:
    df1 = df1.drop(i)

In [ ]:
df1 = df1.reset_index()

In [ ]:
df1 = df1.drop(['index'], axis=1)

In [ ]:
df1

      level_0  ... Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_2
0           0  ...                                           0.999810
1           2  ...                                           0.999890
2           4  ...                                           0.999940
3           5  ...                                           0.999940
4           6  ...                                           0.003836
...       ...  ...                                                ...
9571     9838  ...                                           0.999810
9572     9839  ...                                           0.004729
9573     9840  ...                                           0.002118
9574     9841  ...                                           0.003294
9575     9842  ...                                           0.003377

[9576 rows x 23 columns]

In [ ]:
df1['Income_Category'].unique()

array(['$120K +', 'Less than $40K', 'Unknown', '$60K - $80K',
       '$80K - $120K', '$40K - $60K'], dtype=object)

In [ ]:
df1['Marital_Status'].unique()

array(['Unknown', 'Married', 'Divorced', 'Single'], dtype=object)

In [ ]:
df1['Education_Level'].unique()

array(['Uneducated', 'Graduate', 'Doctorate', 'Unknown', 'High School',
       'College', 'Post-Graduate'], dtype=object)

In [ ]:
df1['Gender'].unique()

array(['M', 'F'], dtype=object)

In [ ]:
df1['Card_Category'].unique()

array(['Blue', 'Gold', 'Silver', 'Platinum'], dtype=object)

In [ ]:
for i in range(len(df1['Gender'])):
  if df1['Gender'] [i] == 'M':
    df1['Gender'] [i] = '0'
  if df1['Gender'] [i] == 'F':
    df1['Gender'] [i] = '1'
df1['Gender'] = df1['Gender'].astype(float)

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

In [ ]:
for i in range(len(df1['Education_Level'])):
  if df1['Education_Level'] [i] == 'Uneducated':
    df1['Education_Level'] [i] = '0'
  if df1['Education_Level'] [i] == 'Graduate':
    df1['Education_Level'] [i] = '1'
  if df1['Education_Level'] [i] == 'Doctorate':
    df1['Education_Level'] [i] = '2'
  if df1['Education_Level'] [i] == 'Unknown':
    df1['Education_Level'] [i] = '3'
  if df1['Education_Level'] [i] == 'High School':
    df1['Education_Level'] [i] = '4'
  if df1['Education_Level'] [i] == 'College':
    df1['Education_Level'] [i] = '5'
  if df1['Education_Level'] [i] == 'Post-Graduate':
    df1['Education_Level'] [i] = '6'
df1['Education_Level'] = df1['Education_Level'].astype(float)

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if __name__ == '__main__':
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # This is added back by InteractiveShellApp.init_path()
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  del sys.path[0]
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  from ipykernel import kernelapp as app

In [ ]:
for i in range(len(df1['Marital_Status'])):
  if df1['Marital_Status'] [i] == 'Unknown':
    df1['Marital_Status'] [i] = '0'
  if df1['Marital_Status'] [i] == 'Married':
    df1['Marital_Status'] [i] = '1'
  if df1['Marital_Status'] [i] == 'Divorced':
    df1['Marital_Status'] [i] = '2'
  if df1['Marital_Status'] [i] == 'Single':
    df1['Marital_Status'] [i] = '3'
df1['Marital_Status'] = df1['Marital_Status'].astype(float)

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if __name__ == '__main__':

In [ ]:
for i in range(len(df1['Income_Category'])):
  if df1['Income_Category'] [i] == '$120K +':
    df1['Income_Category'] [i] = '0'
  if df1['Income_Category'] [i] == 'Less than $40K':
    df1['Income_Category'] [i] = '1'
  if df1['Income_Category'] [i] == 'Unknown':
    df1['Income_Category'] [i] = '2'
  if df1['Income_Category'] [i] == '$60K - $80K':
    df1['Income_Category'] [i] = '3'
  if df1['Income_Category'] [i] == '$80K - $120K':
    df1['Income_Category'] [i] = '4'
  if df1['Income_Category'] [i] == '$40K - $60K':
    df1['Income_Category'] [i] = '5'
df1['Income_Category'] = df1['Income_Category'].astype(float)

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if __name__ == '__main__':
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # This is added back by InteractiveShellApp.init_path()
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  del sys.path[0]

In [ ]:
for i in range(len(df1['Card_Category'])):
  if df1['Card_Category'] [i] == 'Blue':
    df1['Card_Category'] [i] = '0'
  if df1['Card_Category'] [i] == 'Gold':
    df1['Card_Category'] [i] = '1'
  if df1['Card_Category'] [i] == 'Silver':
    df1['Card_Category'] [i] = '2'
  if df1['Card_Category'] [i] == 'Platinum':
    df1['Card_Category'] [i] = '3'
df1['Card_Category'] = df1['Card_Category'].astype(float)

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if __name__ == '__main__':

In [ ]:
df1

      level_0  ... Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_2
0           0  ...                                           0.999810
1           2  ...                                           0.999890
2           4  ...                                           0.999940
3           5  ...                                           0.999940
4           6  ...                                           0.003836
...       ...  ...                                                ...
9571     9838  ...                                           0.999810
9572     9839  ...                                           0.004729
9573     9840  ...                                           0.002118
9574     9841  ...                                           0.003294
9575     9842  ...                                           0.003377

[9576 rows x 23 columns]

In [ ]:
from sklearn.tree import DecisionTreeClassifier # Import Decision Tree Classifier
from sklearn.model_selection import train_test_split # Import train_test_split function
from sklearn import metrics #Import scikit-learn metrics module for accuracy calculation

In [ ]:
df1 = df1.drop(['level_0'], axis=1)

In [ ]:
df1['Attrition_Flag'].unique()

array(['Existing Customer', 'Attrited Customer'], dtype=object)

In [ ]:
df2 = df1.copy()

In [ ]:
normalized_df2=(df2[['Customer_Age',	'Dependent_count',	'Months_on_book',	'Total_Relationship_Count',	'Months_Inactive_12_mon',	'Contacts_Count_12_mon',	'Credit_Limit',	'Total_Revolving_Bal',	'Avg_Open_To_Buy',	'Total_Amt_Chng_Q4_Q1', 'Total_Trans_Amt', 'Total_Trans_Ct', 'Total_Ct_Chng_Q4_Q1', 'Avg_Utilization_Ratio', 'Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_1', 'Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_2']]-df2[['Customer_Age',	'Dependent_count',	'Months_on_book',	'Total_Relationship_Count',	'Months_Inactive_12_mon',	'Contacts_Count_12_mon',	'Credit_Limit',	'Total_Revolving_Bal',	'Avg_Open_To_Buy',	'Total_Amt_Chng_Q4_Q1', 'Total_Trans_Amt', 'Total_Trans_Ct', 'Total_Ct_Chng_Q4_Q1', 'Avg_Utilization_Ratio', 'Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_1', 'Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_2']].min())/(df2[['Customer_Age',	'Dependent_count',	'Months_on_book',	'Total_Relationship_Count',	'Months_Inactive_12_mon',	'Contacts_Count_12_mon',	'Credit_Limit',	'Total_Revolving_Bal',	'Avg_Open_To_Buy',	'Total_Amt_Chng_Q4_Q1', 'Total_Trans_Amt', 'Total_Trans_Ct', 'Total_Ct_Chng_Q4_Q1', 'Avg_Utilization_Ratio', 'Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_1', 'Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_2']].max()-df2[['Customer_Age',	'Dependent_count',	'Months_on_book',	'Total_Relationship_Count',	'Months_Inactive_12_mon',	'Contacts_Count_12_mon',	'Credit_Limit',	'Total_Revolving_Bal',	'Avg_Open_To_Buy',	'Total_Amt_Chng_Q4_Q1', 'Total_Trans_Amt', 'Total_Trans_Ct', 'Total_Ct_Chng_Q4_Q1', 'Avg_Utilization_Ratio', 'Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_1', 'Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_2']].min())

In [ ]:
df2[['Customer_Age',	'Dependent_count',	'Months_on_book',	'Total_Relationship_Count',	'Months_Inactive_12_mon',	'Contacts_Count_12_mon',	'Credit_Limit',	'Total_Revolving_Bal',	'Avg_Open_To_Buy',	'Total_Amt_Chng_Q4_Q1', 'Total_Trans_Amt', 'Total_Trans_Ct', 'Total_Ct_Chng_Q4_Q1', 'Avg_Utilization_Ratio', 'Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_1', 'Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_2']]= normalized_df2

In [ ]:
df2 = df2.drop(['Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_2'], axis=1)

In [ ]:
df2 = df2.drop(['Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_1'], axis=1)

In [ ]:
df2

         Attrition_Flag  ...  Avg_Utilization_Ratio
0     Existing Customer  ...               0.218090
1     Existing Customer  ...               0.280402
2     Existing Customer  ...               0.080402
3     Existing Customer  ...               0.086432
4     Attrited Customer  ...               0.000000
...                 ...  ...                    ...
9571  Existing Customer  ...               0.464322
9572  Attrited Customer  ...               0.513568
9573  Attrited Customer  ...               0.000000
9574  Attrited Customer  ...               0.000000
9575  Attrited Customer  ...               0.189950

[9576 rows x 20 columns]

In [ ]:
feature_cols = ['Customer_Age',	'Dependent_count',	'Months_on_book',	'Total_Relationship_Count',	'Months_Inactive_12_mon',	'Contacts_Count_12_mon',	'Credit_Limit',	'Total_Revolving_Bal',	'Avg_Open_To_Buy',	'Total_Amt_Chng_Q4_Q1', 'Total_Trans_Amt', 'Total_Trans_Ct', 'Total_Ct_Chng_Q4_Q1', 'Avg_Utilization_Ratio']

In [ ]:
X = df2[feature_cols]
y = df2.Attrition_Flag

In [ ]:
# Split dataset into training set and test set
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=1) # 70% training and 30% test

In [ ]:
# Create Decision Tree classifer object
clf = DecisionTreeClassifier()

# Train Decision Tree Classifer
clf = clf.fit(X_train,y_train)

#Predict the response for test dataset
y_pred = clf.predict(X_test)

In [ ]:
# Model Accuracy, how often is the classifier correct?
print("Accuracy:",metrics.accuracy_score(y_test, y_pred))

Accuracy: 0.9387399930386355

In [ ]:
from sklearn.ensemble import RandomForestClassifier

In [ ]:
#Create a Gaussian Classifier
clf=RandomForestClassifier(n_estimators=100)

#Train the model using the training sets y_pred=clf.predict(X_test)
clf.fit(X_train,y_train)

y_pred=clf.predict(X_test)

In [ ]:
#Import scikit-learn metrics module for accuracy calculation
from sklearn import metrics
# Model Accuracy, how often is the classifier correct?
print("Accuracy:",metrics.accuracy_score(y_test, y_pred))

Accuracy: 0.9676296554124608